<h1><%= @restaurant.name %></h1>

<p><%= @restaurant.address %></p>
<p><%= @restaurant.category %></p>

<%# <%= link_to "Add rating", new_restaurant_path(@restaurant), class: "btn btn-primary" %>

<h2>Please add a new review for <%=@restaurant.name %>:</h2>
<%= simple_form_for [@restaurant, @review] do |f| %>
  <%= f.input :content %>
  <%= f.input :rating %>
  <%= f.submit class: "btn btn-success" %>
<% end %>

<div class="card my-3">
  <div class="card-header fw-bold">Ratings:</div>
    <ul class="list-group list-group-flush">
    <% @restaurant.reviews.each do |review| %>
      <li class="list-group-item"><%= review.content %> | Rating: <%= review.rating %></li>
    <% end %>
    </ul>
</div>

<%= link_to "Back to overview", restaurants_path, class: "btn btn-secondary" %>
